.sidebar {
    width: 220px;
    height: 100vh;
    background-color: #1e293b;
    /* dark slate */
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar-title {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 12px 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.sidebar a:hover {
    color: #38bdf8;
    /* light blue */
}

